//===============================================================================
// FOOTER
//===============================================================================
.page-footer{
  padding: .5em;
  background: $footer;
  color: lighten($body-font, 30);
  text-align: center;
  font-size: .8em;

  p{
    margin: 0;
  }
}