//===============================================================================
// TYPOGRAPHY
//===============================================================================
body{
  @extend %body;

  font-size: 1.1em;
  line-height: 1.4;
  color: $body-font;
  font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
p{
  margin-top: 0;
}

h1,
h2,
h3,
h4{
  line-height: 1.2;
  color: lighten($body-font, 5);
  font-family: 'Signika', sans-serif;
  font-weight: 700;
}

h1{
  font-size: 3.25em;
  margin-bottom: 0;
  letter-spacing: -1px;
}

h2{
  font-size: 1.75em;
  margin: 1.5em 0 .2em;
}

h3{
  font-size: 1.5em;
}

p{
  margin-bottom: .6em;
}

a{
  color: $link;
  font-weight: bold;
}

code{
  background-color: darken($body-bg, 5);
  font-weight: bold;
  padding: .05em .3em .1em;
  border: 1px solid darken($body-bg, 12.5);

  @include border-radius(.2em);
}

pre{
  background-color: $code-block;
  color: white;
  padding: .5em .75em;

  @include border-radius(.2em);
}