//===============================================================================
// VARIABLES
//===============================================================================
// Used to genrate default colors 
$hue: 15;

// Body copy text color
$body-font: hsl($hue, 20, 20);
// Page background color
$body-bg: hsl($hue, 100, 98.5);
// Link text color
$link: hsl($hue, 100, 50);
// Page header background color
$header: hsl($hue, 100, 75);
// Page text selection color
$selection: hsl($hue, 100, 85);
// Code block background color
$code-block: hsl($hue, 20, 20);
// Example border color
$border: hsl($hue, 20, 80);
// Button color
$button: hsl($hue, 100, 50);
// Footer background color
$footer: hsl($hue, 100, 80);

//===============================================================================
// IMPORTS
//===============================================================================
@import "compass/css3";
@import "_normalize.scss";
@import "_type.scss";
@import "_header.scss";
@import "_button.scss";
@import "_vis.scss";
@import "_footer.scss";

//===============================================================================
// MIXINS
//===============================================================================

//===============================================================================
// HELPER-CLASSES
//===============================================================================
.hide{
  display: none;
}

.no-list{

}

.clearfix{
  // to-do
}

//===============================================================================
// GLOBAL-STYLES
//===============================================================================
// apply box sizing everywhere
*{
  @include box-sizing(border-box);
  
  &::selection {
    background: $selection;
    }
    
  &::-moz-selection {
    background: $selection;
  }
}

// Placeholder class. Extended in _type.scss 
%body{
  background: $body-bg;
}

.wrap,
.child-wrap{
  width: 40em;
  margin: 0 auto;
}

.wrap{
  margin-bottom: 12em;
}

//===============================================================================
// STYLES
//===============================================================================